/* logo */
.scale-up-center {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    } }

/* banner-text */
.bounce-left,
.bounce-left:hover {
    animation: bounce-left 0.8s both;
}

@keyframes bounce-left {
    0% {
        transform: translateX(-48px);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        transform: translateX(-26px);
        animation-timing-function: ease-in;
    }

    65% {
        transform: translateX(-13px);
        animation-timing-function: ease-in;
    }

    82% {
        transform: translateX(-6.5px);
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateX(-4px);
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        transform: translateX(0px);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateX(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

/* page-banner */
.tracking-in-contract {
    animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}