/* brand-viode */
.brand-video {
    text-align: center;
    padding: 80px 0;
}

@media (max-width:1024px) {
    iframe {
        height: 450px;
        width: 85%;
    }
}

@media (max-width:768px) {
    .brand-video {
        padding: 50px 0;
    }

    iframe {
        height: 350px;
    }
}

@media (max-width:576px) {
    .brand-video {
        padding: 30px 0;
    }

    iframe {
        height: 250px;
    }
}

/* chef */
.chef-bg {
    background: #6F1C11;
    padding-top: 50px;
    padding-bottom: 50px;
}

.IDphoto-box {
    width: 100%;
    border: 8px solid;
    border-image: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(111, 28, 17, 0.5) 40%, rgba(111, 28, 17, 0.5) 40%, rgba(255, 255, 255, 1) 100%);
    border-image-slice: 1;
}

.chef .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chef .content .subtitle {
    display: inline-block;
    width: 100px;
    height: 1px;
    background: #fff6ec;
}

.chef .content h2 {
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fff6ec;
    letter-spacing: 5px;
}

.chef .content p {
    color: #fff6ec;
    width: 70%;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.8;
}

.chef-quote {
    padding-top: 40px;
    padding-bottom: 60px;
}

.chef-quote h3 {
    width: 75%;
    font-size: 2.5rem;
    color: #6F1C11;
    text-align: center;
    letter-spacing: 3px;
    line-height: 2;
}

@media (max-width:1024px) {
    .chef-quote h3 {
        font-size: 1.7rem;
    }
}

@media (max-width:768px) {
    .chef .content p {
        width: 100%;
        font-size: 0.8rem;
    }

    .chef-quote h3 {
        font-size: 1.3rem;
    }
}

/* beef-info */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info-title {
    display: inline-flex;
    width: 100%;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 40px;
    gap: 10px;
}

.info-title i {
    font-size: 1.8rem;
    color: #6F1C11;
}

/* 每個格子 */
.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* 覆蓋層 */
.grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;

    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    opacity: 1;
    transform: scale(1);
    /* 初始大小覆蓋整個格子 */
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.grid-item .overlay h3 {
    font-size: 1.8rem;
    font-weight: bold;

    padding-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* 添加文字陰影 */
}

.grid-item .overlay p {
    display: none;
    /* 預設內文隱藏 */
    margin-top: 30px;
    padding: 0 20px;
    font-size: 1.2rem;
}

.grid-item:hover .overlay {
    transform: scale(0.9);
    /* 覆蓋層縮小*/
    opacity: 1;
    border-radius: 15px;
}

.grid-item:hover p {
    display: block;
    /* 內文出現 */
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .chef-quote {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .chef .content p {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .grid-item .overlay h3 {
        font-size: 1.4rem;
    }

    .grid-item .overlay p {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .chef .content .subtitle {
        margin-top: 30px;
    }

    .info-title {
        padding-top: 0;
    }
}