/* desktop-menu */
.desktop-menu {
    background-image: url(../img/nav-bg.jpg);
    background-size: 110% auto;
    background-position: -50px -140px;
    overflow: hidden;
    position: relative;
}

.img-logo {
    margin: 20px 0;
    padding-left: 30px;
    height: 60px;
}

.desktop-menu-style {
    margin-left: 0;
    margin-bottom: 0;
    /* padding-right: 20px; */
}

.desktop-menu-style li {
    display: inline-block;
    padding-right: 30px;

}

.desktop-menu-style .link {
    list-style: none;
    text-decoration: none;
    color: #fff;
}