* {
    font-family: 微軟正黑體;
}

.container-fluid {
    padding: 70px 40px 0 40px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

h1, h3 {
    padding-top: 20px;
}

button {
    background: #858585;
    color: #fff;
    border: none;
    padding: 5px 20px;
}

/* banner */
.banner-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
}

/* product */
.product-grid {
    display: grid;
    /* 3 欄，每欄平均佔 1fr（等分） */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-item {
    padding-top: 10px;
    padding-bottom: 20px;
}

.product-item p , .article p{
    padding-bottom: 20px;
}

/* right */
.article h1{
    padding-top: 30px;
    padding-bottom: 20px;
}